//Author: Scott Kellum
//URL: https://gist.github.com/scottkellum/1160816

// Sass exponent support
@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive integers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }
  // negative integers get divided. A number divided by itself is 1.
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
  }
  // return the last value written
  @return ($value);
}
