// Responsive tools
// Requirements: _scale.scss

$breakpoints: (
  A: 25rem,
  B: 35rem,
  C: 45rem,
) !default;

// Build classes to show or hide via media query
// TODO use rem converter
@each $label, $breakpoint in $breakpoints {
  @media (min-width: unitConvertor($breakpoint)) {
    .hide#{$label} {
      display: none !important;
    }
  }
  @media (max-width: unitConvertor($breakpoint)) {
    .show#{$label} {
      display: none !important;
    }
  }
}

//TODO breakpoint argument can be a number or the label of a point defined in the breakpoints variable
@mixin media-query ($operator, $breakpoint){ //create a "rem-based" media query
  @if $operator == '>' {
    @media (min-width: unitConvertor($breakpoint)) {
      @content;
    }
  }
  @if $operator == '<' {
    @media (max-width: unitConvertor($breakpoint)) {
      @content;
    }
  }
}
